/*J'élargis le container du lien car sinon je ne sais pas pourquoi il passe à la ligne */
.nav__link{
    width:10em;
}

.btn-outline-info{
    font-size: 0.9em;
}

h1{
    font-size: 2.5m;
    font-weight: bold;
}

.btn-info{
    color:white;
}

/*--- NAV */
/* On ajoute une marge à côte de nos boutons*/
.navbar-collapse{
    padding-left:0.8em;
}

.navbar{
    padding: 2em;
    background-color: rgb(235, 235, 235);
    color: rgb(0, 0, 0);
}

.bi-pencil{
    color:rgb(0, 0, 0) !important;
    padding-right: 0.2em;
    font-size: 0.9em;
}


/***--- ADD TASK */

.task--add{
    padding: 1em;
    border: 2px solid #0dcaf0;
}

/* On masque le champ avec le titre sauf le champ d'ajout qui reste affiché */
.task--add .task__title-field {
    display: block;
  }

/***--- TASKS */

/* * Couleurs des boutons : on se base sur couleurs basiques bootstrap pour l'instant
} */



/** Affichage boutons */
/* On gère l'affichage des boutons en fonction du statut (via la classe)*/

/** 1. Par défaut */
/* Au commencement (.todo), on n'affiche pas ces boutons*/
.task__button--desarchive,
.task__button--incomplete,
.task__button--delete {
  display: none;
}

/** 2. Complete*/
/* Si la tâche est finie (.complete), on masque le bouton validé*/
.task--complete .task__button--validate {
    display: none;
  }
  
/* Et on affiche le bouton retour */
/*! le bouton incomplete s'affiche pour task--archive*/
.task--complete .task__button--incomplete {
  display: inline-block;
}

/** 3. Archive*/
/* Si la tâche est archivée (.archive), on masque ces boutons */
.task--archive .task__button--validate,
.task--archive .task__button--modify,
.task--archive .task__button--archive {
  display: none;
}

/* Et on affiche le bouton retour et le bouton supprimer*/
.task--archive .task__button--desarchive,
.task--archive .task__button--delete {
  display: inline-block;
}

/** 4. Edit*/
/* Si la tâche est éditée (.edit), on n'affiche pas le nom de la tâche*/
.task--edit .task__title-label {
  display: none;
}

/** Champs de saisie input des titres */
/* Par défaut, le champ est masqué */
/* On enleve la bordure aux champs des tâches */
.task__title-field{
    border: 1px solid rgb(185, 185, 185);
    display: none;
}

/** Gestion du titre à l'édition */
/* Lorsqu'on passe à l'édition -> class task-edit ajoutée /
/* On masque le champ avec le titre "enregistré", le <p> */
.task--edit .task__title-label {
    display: none;
  }

/* Et on affiche le champ <input> pour la saisie */
.task--edit .task__title-field {
    display: block;
}

/** Style affichage spécifique selon les tâches */
/* Fond des tâches archivées*/
.task--archive {
    background-color:rgb(206, 206, 206);
}

/* Titres des tâches archivées*/
.task--archive .task__title {
    color: rgb(127 127 127);
  }
  

.task__categ-name{
    color: grey;
    display: inline-block;
}

/* Titre tâche completée : rayé*/
.task--complete .task__title-label {
  text-decoration: line-through;
}


/* Retirer l'encadré orange automatique des input à l'édition*/
input:focus {
    border:none; /* ne marche pas */
    /*outline:none; /* fonctionne mais casse mon affichage */
}

/* Ajout d'un encadré violet à l'édition */
.task-edited:focus{
    border: 5px solid purple; 
}

/*Les icones de bootstrap*/
.bi{
    color:white;
}

